---
---
@import "{{ site.theme }}";
/* 
.markdown-body p + h1 {font-size:8rem;font-weight:900; line-height:.9em;letter-spacing:-1px;margin-bottom:2rem;color:red;}
.markdown-body h2 {font-size:4rem;font-weight:bold;letter-spacing:-1px;margin-bottom:2rem;}
p, ul, ol {font-family:Times,"Times New Roman","New York",serif;font-size:1.25rem;width:40rem;max-width:40rem;}
*/

/*
img {
display: block;
width: 66%;
padding:1rem;
box-shadow: 1px 1px 1px 1px #888888;
}
*/
