---
---
@import "";

h2 {color:purple;}

body {background-color:#EAF3FE;font-family:"Times","Times New Roman","New York","sans-serif";}

img {
display: block;
width: 66%;
border: 1px solid lightgray;
padding: 10px;
box-shadow: 1px 1px 1px 1px #888888;
}
