---
---
@import "{{ site.theme }}";
h2 {color:gray;}
p {font-family:Times,"Times New Roman","New York",serif;font-size:16pt;width:40rem;max-width:40em;}

body {background-color:#EAF3FE;}
img {
display: block;
width: 66%;
border: 1px solid lightgray;
padding: 10px;
box-shadow: 1px 1px 1px 1px #888888;
}
